body {
	background-image: url(pattern.png);
	width: 100vw;
	height: 100vh;
	font-family: 'PT Sans Caption', sans-serif;
}

.title {
	font-size: 7em;
	font-weight: bold;
	color: #bcbcbc;
	position: absolute;
	left: 40px;
	bottom: 20px;
	line-height: 1em;
	letter-spacing: 2px;
}

.s {
	font-size: 0.7em;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: inherit;
}
